<% text = "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, cupiditate voluptatem illum labore accusamus ab eligendi nisi in similique facilis ipsam accusantium voluptate eos asperiores cum cumque laboriosam aliquam repellendus mollitia. Aperiam porro earum nobis reprehenderit error officiis voluptatem eius ipsam. Assumenda doloribus atque fuga. In, voluptates? Quo, mollitia ea?" %>

<h2>word_wrap</h2>
<%= truncate(text, :length => 10, :omission => "...")%>