<%= link_to("<< Back to list", {:action => 'index'}, :class => 'back-link') %>

<div class="subjects edit">
    <h2>Update Section</h2>

    <%= form_with(model:@section, local: true) do |f| %>
        <%= render partial: "form", locals:{f:f} %>
        <div class="form-buttons">
            <%= submit_tag("Update Subject") %>
        </div>
    <% end %>
</div>