<%= link_to("<< Back to list", { action: 'index', page_id: @page.id }, class: 'back-link') %>

<div class="sections new">
    <h2>Create Section</h2>

<%= form_with model: @section, url: { action: 'update', page_id: @page.id }, local: true do |f| %>
  <%= render partial: "form", locals: { f: f } %>
  <div class="form-buttons">
    <%= f.submit "Update Section", class: "submit-btn" %>
  </div>
<% end %>

</div>
