<%= link_to("<< Back to list", {:action => 'index'}, :class => 'back-link') %>

<div class="sections new">
    <h2>Create Section</h2>

<%= form_with model: @section, local: true do |f| %>
  <%= render partial: "form", locals: {f: f} %>
  <div class="form-buttons">
    <%= f.submit "Create Section", :class => "submit-btn" %>
  </div>
<% end %>

</div>